.main-navigation {
  z-index: 100;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 9rem;
  box-shadow: $mainNavigationShadow;
  background: white;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    cursor: pointer;
    transition: color 0.2s;
    font-weight: 800;
    &:hover {
      color: rgba(104, 99, 99, 0.9);
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__links {
    display: flex;
    list-style: none;
    align-items: center;
  }

  &__link-item {
    display: flex;
    align-items: center;
    margin-left: 2.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: rgba(104, 99, 99, 0.9);
    }

    &.inactive {
      display: none;
    }

    a {
      text-decoration: none;
      color: inherit;

      &.active {
        color: $primaryActionColor;
      }
    }

    i {
      transition: all 0.2s;
      font-size: 2rem;
      &::before {
        font-family: "Font Awesome 5 Free";
      }

      &:hover {
        transform: rotateZ(180deg);
      }
    }
  }
  &__profile-icon-button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: $primaryFontColor;
    outline: none;
    border: none;
  }
}
