.main-header__chart-logo-container {
  position: relative;
  width: 40rem;
  height: 40rem;

  .main-header__chart-pie-logo-small {
    position: absolute;
    height: 11rem;
    transform: translateY(-50%);
    top: 52%;
    right: 0;
    opacity: 0.8;
  }

  .main-header__chart-pie-logo-big {
    opacity: 0.1;
    position: absolute;
    height: 26rem;
    transform: rotateZ(171deg) translateY(-50%);
    top: -13%;
    left: 6rem;
  }
}
