$primaryFontColor: #353535;
$mainNavigationShadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
$primaryBoxShadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
$primaryActionColor: rgb(11, 154, 250);
$primaryErrorBoxShadow: 0px 2px 2px rgba(252, 97, 0, 0.9);
$primaryErrorFontColor: rgba(252, 97, 0, 0.9);
