@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
.main-navigation {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 9rem;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  background: white;
  padding-left: 6rem;
  padding-right: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation__logo {
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-weight: 800;
}

.main-navigation__logo:hover {
  color: rgba(104, 99, 99, 0.9);
}

.main-navigation__logo a {
  text-decoration: none;
  color: inherit;
}

.main-navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation__link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.3rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.main-navigation__link-item:hover {
  color: rgba(104, 99, 99, 0.9);
}

.main-navigation__link-item.inactive {
  display: none;
}

.main-navigation__link-item a {
  text-decoration: none;
  color: inherit;
}

.main-navigation__link-item a.active {
  color: #0b9afa;
}

.main-navigation__link-item i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 2rem;
}

.main-navigation__link-item i::before {
  font-family: "Font Awesome 5 Free";
}

.main-navigation__link-item i:hover {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.main-navigation__profile-icon-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #353535;
  outline: none;
  border: none;
}

.main-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8fr 3fr;
      grid-template-rows: 8fr 3fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
}

.main-header.inactive {
  display: none;
}

.main-header__hero-msg {
  grid-column: span 2;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-size: 1.8rem;
  font-weight: 400;
  position: relative;
}

.main-header__hero-msg::after {
  display: inline-block;
  content: " ";
  position: absolute;
  height: 1px;
  width: 14rem;
  background-color: #353535;
  left: 50%;
  top: 4.5rem;
  border-radius: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-section {
  padding: 6rem;
}

.about-section__title {
  font-size: 2rem;
}

.about-section__text {
  margin-top: 3rem;
  text-align: justify;
}

.sign-up-section, .log-in-section, .searched-workers-section {
  padding: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-header__wp-logo {
  position: relative;
  width: 40rem;
  height: 30rem;
  font-weight: 800;
}

.main-header__wp-logo .main-header__wp-logo-small-letters {
  font-size: 10rem;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.main-header__wp-logo .main-header__wp-logo-big-letters {
  font-size: 23rem;
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 6rem;
}

.main-header__chart-logo-container {
  position: relative;
  width: 40rem;
  height: 40rem;
}

.main-header__chart-logo-container .main-header__chart-pie-logo-small {
  position: absolute;
  height: 11rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 52%;
  right: 0;
  opacity: 0.8;
}

.main-header__chart-logo-container .main-header__chart-pie-logo-big {
  opacity: 0.1;
  position: absolute;
  height: 26rem;
  -webkit-transform: rotateZ(171deg) translateY(-50%);
          transform: rotateZ(171deg) translateY(-50%);
  top: -13%;
  left: 6rem;
}

.sign-up-form, .log-in-form {
  width: 50rem;
}

.sign-up-form__title, .log-in-form__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.sign-up-form__input-group, .log-in-form__input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.sign-up-form__input-group label, .log-in-form__input-group label,
.sign-up-form__input-group input,
.log-in-form__input-group input {
  margin-bottom: 0.5rem;
}


.sign-up-form__input-group input,
.log-in-form__input-group input {
  font-size: 1.6rem;
  padding: 0.6rem;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.sign-up-form__input-group input::-webkit-input-placeholder, .log-in-form__input-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(53, 53, 53, 0.5);
}

.sign-up-form__input-group input::-moz-placeholder, .log-in-form__input-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(53, 53, 53, 0.5);
}

.sign-up-form__input-group input:-ms-input-placeholder, .log-in-form__input-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(53, 53, 53, 0.5);
}

.sign-up-form__input-group input:-moz-placeholder, .log-in-form__input-group input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(53, 53, 53, 0.5);
}

.sign-up-form__input-group input.error, .log-in-form__input-group input.error {
  -webkit-box-shadow: 0px 2px 2px rgba(252, 97, 0, 0.9);
          box-shadow: 0px 2px 2px rgba(252, 97, 0, 0.9);
}

.sign-up-form__warning-msg, .log-in-form__warning-msg {
  font-size: 1.2rem;
  color: rgba(252, 97, 0, 0.9);
  visibility: hidden;
}

.sign-up-form__warning-msg.active, .active.log-in-form__warning-msg {
  visibility: visible;
}

.sign-up-form__warning-msg i, .log-in-form__warning-msg i {
  margin-right: 0.6rem;
}

.sign-up-form__warning-msg i::before, .log-in-form__warning-msg i::before {
  font-family: "Font Awesome 5 Free";
}

.sign-up-form__terms-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.sign-up-form__terms-wrapper input {
  margin-right: 0.8rem;
  margin-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sign-up-form__terms-wrapper label {
  margin-bottom: 0;
}

.sign-up-form__terms-wrapper label a {
  text-decoration: none;
  color: #0b9afa;
}

.sign-up-form__submit-button, .log-in-form__submit-button {
  width: 100%;
  background: white;
  margin-top: 1rem;
  border: none;
  font-size: 1.7rem;
  padding: 0.8rem;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  color: #0b9afa;
  font-weight: 700;
}

.email-in-use {
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(53, 53, 53, 0.6);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-in-use.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email-in-use__text-wrapper {
  width: 35rem;
  height: 15rem;
  background: white;
  -webkit-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.45);
          box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-in-use__text-wrapper p {
  margin-bottom: 1.5rem;
}

.email-in-use__text-wrapper button {
  border: none;
  outline: none;
  background: white;
  padding: 0.6rem;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #0b9afa;
  text-transform: uppercase;
  cursor: pointer;
}

.worker-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30rem;
  position: relative;
}

.worker-search-form__input {
  width: 60%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 12px;
  border: 1px solid #dfe1e5;
  outline: none;
  padding: 0.7rem;
  -webkit-box-shadow: 0px 1px 2px rgba(32, 33, 36, 0.28);
          box-shadow: 0px 1px 2px rgba(32, 33, 36, 0.28);
}

.worker-search-form__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(53, 53, 53, 0.5);
}

.worker-search-form__input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(53, 53, 53, 0.5);
}

.worker-search-form__input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(53, 53, 53, 0.5);
}

.worker-search-form__input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(53, 53, 53, 0.5);
}

.worker-search-form__input:focus {
  width: 100%;
}

.worker-search-form__button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  outline: none;
  border: none;
  background: transparent;
}

.worker-search-form__button i::before {
  font-size: 1.8rem;
  color: rgba(53, 53, 53, 0.55);
}

.side-panel-activator {
  z-index: 100;
  position: fixed;
  top: 9rem;
  height: calc(100% - 9rem);
}

.side-panel-activator.inactive {
  display: none;
}

.side-panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
  z-index: 100;
  height: 100%;
  background: white;
  width: 35rem;
  -webkit-box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
  border-top: 1px solid #dfe1e5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side-panel.closed {
  width: 3rem;
}

.side-panel__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid #dfe1e5;
}

.side-panel__actions button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.side-panel__actions button .fas.fa-arrow-circle-left {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side-panel__actions button .fas.fa-arrow-circle-left.closed {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.side-panel__actions button .fas.fa-arrow-circle-left::before {
  font-family: "Font Awesome 5 Free";
}

.side-panel__actions .worker-search-form {
  width: unset;
  margin-right: 1.15rem;
  margin-left: 1.15rem;
}

.side-panel__actions .worker-search-form__input {
  width: 18rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.side-panel__actions .worker-search-form__input:focus {
  width: 24rem;
}

.side-panel__actions .worker-search-form i::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
}

.side-panel__workers {
  padding: 3rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-panel__workers-list, .searched-workers-section .searched-workers-section__list {
  list-style: none;
}

.side-panel__workers-list li a, .searched-workers-section .searched-workers-section__list li a {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #353535;
  padding: 0.5rem;
  -webkit-box-shadow: 0px 1px 2px rgba(32, 33, 36, 0.28);
          box-shadow: 0px 1px 2px rgba(32, 33, 36, 0.28);
}

.side-panel__workers-list li a span:nth-child(2), .searched-workers-section .searched-workers-section__list li a span:nth-child(2),
.side-panel__workers-list li a span:nth-child(3),
.searched-workers-section .searched-workers-section__list li a span:nth-child(3) {
  font-size: 1rem;
}

.filter, .filter__options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.filter i::before, .filter__options-container i::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
}

.filter__options-container {
  position: relative;
  margin-right: 1rem;
}

.filter__options {
  position: absolute;
  top: 2rem;
  padding: 0.2rem;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.pagination li {
  margin: 0.7rem;
}

.pagination li:first-child, .pagination li:last-child {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.pagination li.active {
  background: rgba(244, 163, 67, 0.65);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination li a {
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li a i::before {
  font-family: "Font Awesome 5 Free";
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #353535;
  font-size: 1.6rem;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: #353535;
  font-weight: 500;
}

.global-wrapper {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #353535;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Open Sans", sans-serif;
}
/*# sourceMappingURL=style.css.map */