@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

@import "./variables";
@import "./shared/navigation";
@import "./pages/home";
@import "./pages/about";
@import "./pages/signUp";
@import "./pages/logIn";
@import "./pages/searchedWorkers";
@import "./home/wpLogo";
@import "./home/chartPieLogo";
@import "./sign-up/signUpform";
@import "./log-in/logInform";
@import "./shared/emailInUse";
@import "./shared/search";
@import "./shared/sidePanel";
@import "./shared/filter";
@import "./shared/pagination";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $primaryFontColor;
  font-size: 1.6rem;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: $primaryFontColor;
  font-weight: 500;
}

.global-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $primaryFontColor;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Open Sans", sans-serif;
}
