@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
.main-navigation {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 9rem;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  background: white;
  padding-left: 6rem;
  padding-right: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation__logo {
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-weight: 800;
}

.main-navigation__logo:hover {
  color: rgba(104, 99, 99, 0.9);
}

.main-navigation__logo a {
  text-decoration: none;
  color: inherit;
}

.main-navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-navigation__link-item {
  margin-left: 2.3rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.main-navigation__link-item:hover {
  color: rgba(104, 99, 99, 0.9);
}

.main-navigation__link-item a {
  text-decoration: none;
  color: inherit;
}

.main-navigation__link-item a.active {
  color: #0b9afa;
}

.main-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8fr 3fr;
      grid-template-rows: 8fr 3fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
}

.main-header__hero-msg {
  grid-column: span 2;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-size: 1.8rem;
  font-weight: 400;
  position: relative;
}

.main-header__hero-msg::after {
  display: inline-block;
  content: " ";
  position: absolute;
  height: 1px;
  width: 14rem;
  background-color: black;
  left: 50%;
  top: 4.5rem;
  border-radius: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-section {
  padding: 6rem;
}

.about-section__title {
  font-size: 2rem;
}

.about-section__text {
  margin-top: 3rem;
  text-align: justify;
}

.sign-up-section {
  padding: 6rem;
}

.main-header__wp-logo {
  position: relative;
  width: 40rem;
  height: 30rem;
  font-weight: 800;
}

.main-header__wp-logo .main-header__wp-logo-small-letters {
  font-size: 10rem;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.main-header__wp-logo .main-header__wp-logo-big-letters {
  font-size: 23rem;
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 6rem;
}

.main-header__chart-logo-container {
  position: relative;
  width: 40rem;
  height: 40rem;
}

.main-header__chart-logo-container .main-header__chart-pie-logo-small {
  position: absolute;
  height: 11rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 52%;
  right: 0;
  opacity: 0.8;
}

.main-header__chart-logo-container .main-header__chart-pie-logo-big {
  opacity: 0.1;
  position: absolute;
  height: 26rem;
  -webkit-transform: rotateZ(171deg) translateY(-50%);
          transform: rotateZ(171deg) translateY(-50%);
  top: -13%;
  left: 6rem;
}

.sign-up-form__title {
  font-size: 2rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #353535;
  font-size: 1.6rem;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: black;
  font-weight: 500;
}

.global-wrapper {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
}
/*# sourceMappingURL=style.css.map */