.sign-up-form {
  width: 50rem;
  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label,
    input {
      margin-bottom: 0.5rem;
    }

    input {
      font-size: 1.6rem;
      padding: 0.6rem;
      outline: none;
      border: none;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(53, 53, 53, 0.5);
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(53, 53, 53, 0.5);
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(53, 53, 53, 0.5);
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(53, 53, 53, 0.5);
      }

      &.error {
        box-shadow: 0px 2px 2px rgba(252, 97, 0, 0.9);
      }
    }
  }

  &__warning-msg {
    font-size: 1.2rem;
    color: rgba(252, 97, 0, 0.9);
    visibility: hidden;

    &.active {
      visibility: visible;
    }

    i {
      margin-right: 0.6rem;
      &::before {
        font-family: "Font Awesome 5 Free";
      }
    }
  }

  &__terms-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    input {
      margin-right: 0.8rem;
      margin-bottom: 0;
      box-shadow: none;
    }
    label {
      margin-bottom: 0;

      a {
        text-decoration: none;
        color: rgb(11, 154, 250);
      }
    }
  }

  &__submit-button {
    width: 100%;
    background: white;
    margin-top: 1rem;
    border: none;
    font-size: 1.7rem;
    padding: 0.8rem;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    color: rgb(11, 154, 250);
    font-weight: 700;
  }
}
